<h1><%=@user.name%>'s Page</h1>

<% if @user.created_events.any? %>
	<h2>Events created by <%=@user.name%>:</h2>
	<%= render 'shared/content_table'%>
<% else %>
	<h2><%=@user.name%> hasn't created any events yet</h2>
<% end %>

<% if @user.invitations.any? %>
	<h2>past invitations</h2>
	<table>
		<thead>
			<tr>
				<th><%=@resource.first.class%> name</th>
				<th><%=@second_column_title%></th>
			</tr>
		</thead>
		<tbody>
			<% @prev_events.each do |resource| %>
				<tr>
					<td><%= link_to resource.name, resource%></td>
					<td class=centered> 
						<%= @proc.call(resource) %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<h2>future invitations</h2>
	<table>
		<thead>
			<tr>
				<th><%=@resource.first.class%> name</th>
				<th><%=@second_column_title%></th>
			</tr>
		</thead>
		<tbody>
			<% @upcoming_events.each do |resource| %>
				<tr>
					<td><%= link_to resource.name, resource%></td>
					<td class=centered> 
						<%= @proc.call(resource) %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<h2><%=@user.name%> still hasn't invitations</h2>
<% end %>