<h1><%=@user.name%>'s Page</h1>

<% if @user.created_events.any? %>
	<h2>Events created by <%=@user.name%>:</h2>
	<%= render 'shared/content_table'%>
<% else %>
	<h2><%=@user.name%> hasn't created any events yet</h2>
<% end %>

<% if @user.invitations.any? %>
	<h2>Invitations:</h2>
	<ul>
		<% @user.attended_events.each do |e| %>
			<li><%=e.name%></li>
		<% end %>
	</ul>
<% else %>
	<h2><%=@user.name%> still hasn't invitations</h2>
<% end %>