<h1><%= @event.name %></h1>
<h2>date: <%= @event.date %></h2>
<% if @event.attendees.any? %>
	<h2><%= pluralize(@event.attendees.count, 'attendee') %>:</h2>
	<ul>
		<% @event.attendees.each do |u| %>
			<% if u == @event.creator %>
				<li><h3><%= link_to u.name, u %> (host)</h3></li>
			<% else %>
				<li><%= link_to u.name, u %></li>
			<% end %>
		<% end %>
	</ul>
<% end %> 	
<h2>invite a user</h2>
<%= form_for @invitation do |f| %>
	<%= f.collection_select(:attendee_id, User.all, :id, :name) %>
	<%= f.hidden_field :attended_event_id, :value => @event.id %>
	<%= f.submit %>
<% end %>