<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .centered { text-align: center; }
      table { border-collapse: collapse; }
      td,th { border: 1px white solid; }
    </style>
  </head>

  <body>
    <%= render "layouts/header" %>
    <br>
    <%= render "layouts/flash" %>
    <%= yield %>
  </body>
</html>
