<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% flash.each do |name, message| %>
  		<div class="alert-#{name}">
  			<%= message %>
			</div>
		<% end %>
    <%= yield %>
    <div class="footer">
    	<% if logged_in? %>
	    	<%= link_to "logout", 	logout_path, method: :delete %>
	    	<%= link_to "profile of #{@current_user.name}", current_user %>
    	<% else %>
	    	<%= link_to "login", 		login_path %>
    	<% end %>
    	<br><%= link_to "<< root", root_path %>
    </div>
  </body>
</html>
